<div class="container" #container
[class.right-to-left]="rightToLeft"
[class.bottom-to-top]="bottomToTop"
[class.ready]="ready">
    <div class="section-container" *ngIf="show">
        <div class="section-container-inner">
            <div class="shadow" *ngIf="selectedSection != undefined"
            [style.height.px]="48 * menu?.sections.length"></div>
        
            <div class="section" *ngFor="let section of menu?.sections"
            (click)="onSelectSection(section)"
            [class.selected]="section.text == selectedSection?.text">
                <div class="section-inner">
                    <div class="section-name">
                        <span class="text">{{ section.text }}</span>
                    </div>
        
                    <div class="section-arrow">
                        <span class="text icon">➞</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="option-container" *ngIf="show && selectedSection != undefined">
        <div class="option-container-inner">
            <div class="option" *ngFor="let option of selectedSection.options"
            [class.enabled]="option.enabled"
            (click)="onToggleOption(option)">
                <div class="option-inner">
                    <div class="option-name">
                        <span class="text">{{ option.text }}</span>
                    </div>
        
                    <div class="option-filter-status">
                        <span class="text status"
                        [class.icon]="!option.enabled || !option.enabledText">
                            {{ !option.enabled ? '×' : (option.enabledText || '✔') }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>